---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/hero.tsx";
---

<Layout title="Game">
  <main class="relative min-h-screen overflow-x-hidden">
    <Hero client:load />
  </main>
</Layout>
